.slide{
    padding: 2px;
    background-color: #364d79;
}
.d{
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Img{
    width: 900px;
    height: 350px;
    object-fit: contain;
}